
body {
	font-size: 14px;
	line-height: 24px;
	font-family: "Aktiv Grotesk Corp";
	font-weight: normal;
    font-style: normal;
	color:#fff;
}
a {
	text-decoration: none;
}

.header {
	background-image: url("../img/bg.png") ;
	padding-top: 60px;
	padding-bottom: 150px;
	background-repeat: no-repeat;
} 

.container {
	width: 1112px;
	display: flex;
	margin: 0 auto;
}

.header h1 {
	color: #ffffff;
	font-size: 50px;
	font-weight: 300;
	line-height: 64px;
	margin-top: 208px;
}

.header_container_logo {
	flex:1;
	display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wrapper-menu {
	display: none;
}

.header_container_navigation-phone {
	display: none;
}

.header_container_navigation {
	flex: 2;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header_container_logo_img img {
	vertical-align: middle;
	margin-right: 14px;
}	

.header_container_navigation a {
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
}

.header_container_navigation li {
	display: inline-flex;
	margin-left: 55px;
}

.header_container_navigation_sign-up a {
	border-radius: 19px;
	border: 2px solid #ffffff;
	padding: 10px 17px;
}

.header_container-buttons {
	margin-top: 49px;
	display: inline-flex;
}

.download-app-link {
  border-radius: 30px;
  border: 2px solid #ffffff;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  line-height: 50px;
  padding-left: 48px;
  padding-right: 24px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 16px top 12px;
  margin-right: 20px;
}

.download-app-link--ios {
  background-image: url(../img/ap.png);
}

.download-app-link--android {
  background-image: url(../img/and.png)
}
/*news section start*/
.news {
	background-color: #ebebeb;
}

.news_container {
	text-align: center;
	padding-top: 46px;
	padding-bottom:46px;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.latest-news {
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	padding:3px 15px;
	border-radius: 15px;
	background-image: linear-gradient(45deg, #ff5858 0%, #ff5859 1%, #f857a6 100%);
	border: none;
}

.latest-news-read {
	text-decoration: none;
	color: #ff5858;
	font-weight: bold;
}

.news_container p {
	margin-left: 20px;
	margin-right: 2px;
	color: #665757;
	font-size: 15px;
	font-weight: 400;
}
/*news section end*/

/*track section start*/
.track {
	padding-top: 150px;
	padding-bottom: 463px;
	background-color: #343141;
	background-image: linear-gradient(to right, #343141 0%, #564f63 100%);
}

.track h2 {
	flex: 1;
	color: #ffffff;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	line-height: 44px;
}

.track-groups_all {
	margin-bottom: 55px;
	align-items: center;
}

.track_container_group-first,.track_container_group-second {
	margin-top: 96px;
}

.track_container_group-first h3,.track_container_group-second h3 {
	font-size: 13px;
	font-weight: 700;
	line-height: 34px;
	text-transform: uppercase;
}

.track_container_group-first p,.track_container_group-second p {
	font-weight: 400;
	line-height: 24px;
}

.track-groups_all {
	display: flex;
	padding-right: 50px;
}

.track-groups_img {
	flex: 1;
	margin-top: 5px;
}

.track-groups_info {
	flex: 5;
}
/*track section end*/

/*testimonials section start*/
.testimonials {
	padding-top: 462px;
	background-color: #fff;
}

.testimonials_video {
	margin-top: -800px;
}

.testimonials_video img {
	border-radius: 10px;
	width: 100%;
} 

.testimonials h2 {
	color: #343141;
	font-size: 40px;
	font-weight: 300;
	margin: 0 auto;
	line-height: 44px;
	text-align: center;
}

.testimonials_p {
	margin: 0 auto;
	margin-top: 30px;
	color: #665757;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	width: 721px;
	text-align: center;
}

.testimonials img {
	display: block;
    margin: 22px auto;
}

.testimonials_container {
	margin-top: 107px;
}

.testimonials_container img {
	opacity: 0.2;
}

.testimonials1 {
	flex: 1;
}

.testimonials2 {
	flex: 1;
}

.testimonials3 {
	flex: 1;
}

.testimonials4 {
	flex: 1;
}

.testimonials5 {
	flex: 1;
}

.testimonials6 {
	flex: 1;
}

.card:nth-child(2) {
	margin-left: 30px;
    margin-right: 30px;
}

.card {
	border-radius: 6px;
	border: 1px solid #e0e0e0;
	padding-left: 50px;
	padding-right: 62px;
	padding-bottom: 50px;
}

.card h4 {
	color: #665757;
	font-size: 23px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

.card p {
	color: #665757;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: start;
	margin-top: 10px;
}

.card a {
	color: #ff5858;
	font-weight: bold;
}

.card img {
	margin-top: -30px;
}
.cards {
	display: flex;
	margin-top: 107px;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #fff;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 1px 1px 1px #ff5858;
}

.star-ratings-css-top {
  color: #ff5858;;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
/*testimonials section end*/

/*why-should section start*/
.container_why-should {
	background-color: #fff;
	padding-top: 150px;
	padding-bottom: 150px;
}

.container_why-should h2 {
	color: #343141;
	font-size: 40px;
	font-weight: 300;
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
}

.container_why-should_group {
	text-align: center;
	margin-top: 100px;
}

.container_why-should_group:first-child,.container_why-should_group:last-child {
	margin-top: 218px;
}

.container_why-should_group h3 {
	margin-top: 30px;
	color: #665757;
	font-size: 23px;
	font-weight: 300;
	line-height: 24px;
} 

.container_why-should_group p {
	margin-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	color: #665757;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.group1 {
	flex:1;
	text-align: center;
	margin-top: 218px;
}

.group2 {
	flex:1;
	text-align: center;
	margin-top: 100px
}

.group3 {
	flex:1;
	text-align: center;
	margin-top: 100px
}

.group4 {
	flex:1;
	text-align: center;
	margin-top: 218px;
}
/*why-should section end*/

/*footer start*/
.footer {
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: #343141;
	background-image: linear-gradient(to right, #343141 0%, #564f63 100%);
}

.footer a {
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	text-decoration:none;
}

.footer a:hover {
	color:#000;
}

.footer span {
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
} 

.footer li {
	margin-top: 23px;
}

.footer_container_key-features {
	flex:2;
}

.footer_container_support {
	flex:2;
}

.footer_container_news {
	flex:2;
}

.footer_container_developers {
	flex:2;
}

.footer_container_social {
	flex:4;
}

.footer_container_social img {
	margin-top: 20px;
	margin-right: 19px;
}

.footer_container_social input[type="text"] {
    border-radius: 24px;
	background-color: #ffffff;
	border: none;
	width: 351px;
	height: 47px;
	color:#b3aaaa;
	padding-left: 10px;
}

.footer_container_social input[type="text"]:focus {
	 outline: none; 
}

.footer_container_social input[type="submit"] {
    border-radius: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
	background-image: linear-gradient(45deg, #ff5858 0%, #ff5859 1%, #f857a6 100%);
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	margin-left: -120px;
}

.footer_container_social input::-webkit-input-placeholder {
	color: #b3aaaa;
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
}

.footer_container_copyright {
	margin-top: 100px;
	display: flex;
	align-items: end;
}

.footer_container_copyright_img {
	margin-right: 19px;
}

.footer_container_copyright_img-title p {
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.footer_container_key-features a,.footer_container_support a,
.footer_container_news a,.footer_container_developers a {
	opacity: 0.3;
}
/*footer end*/

/*mobil versions*/
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.container {
		width: 950px;
		display: flex;
		margin: 0 auto;
	}

	.header {
		padding-top: 60px;
		padding-bottom: 150px;
	}

	.header h1 {
		font-size: 50px;
		margin-top: 150px;
	}

	.header_container_navigation a {
		font-size: 11px;
	}

	.testimonials_container img {
		width: 100px;
	}

	.testimonials3 img {
		width: 60px;
	}

	.footer_container_social input[type="text"] {
		width: 245px;
	}

	.footer_container_social input[type="submit"] {
    	padding-left: 10px;
    	padding-right: 10px;
    	font-size: 9px;
    	margin-left: -85px;
	}

	.footer_container_copyright {
    	display: inline-flex;
	}

	.footer_container_copyright img {
		margin-right: 10px;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.container {
		width:90%;
	}

	.header {
		background-position: 20% 0px;
		padding-bottom: 100px;
	}

	.header_container_navigation li {
		margin-right: 0px;
		margin-left: 25px;
	}

	.header h1 {
		margin-top: 140px;
		font-size: 45px;
		line-height: 45px;
	}

	.header_container-buttons a {
		font-size: 15px;
	}

	.header_container_navigation a {
		font-size: 11px;
	}

	.track {
		padding-top: 100px;
		padding-bottom: 300px;
	}

	.track-groups_all {
		padding-right: 20px;
	}

	.track-groups_img img {
		width:80%;
	}

	.testimonials {
		padding-top: 300px;
	}

	.track_container_group-first {
		margin-left: 0px;
	}

	.testimonials_video {
		margin-top:-550px;
		position: relative;
	}

	.testimonials_video img {
		width: 90%;
	}

	.card {
		width: auto;
		padding-left: 20px;
    	padding-right: 20px;
	}

	.card p {
		margin-right: 10px;
		margin-left: 10px;
	}

	.card a {
		margin-left: 10px;
	}

	.testimonials_container img {
		width: 80px;
	}

	.testimonials3 img {
		width: 40px;
	}

	.container_why-should {
		padding-top: 100px;
	}

	.footer {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.footer li {
    	margin-top: 10px;
	}

	.footer span {
		font-size: 10px;
	}

	.footer_container_social input[type="text"] {
		width: auto;
	}

	.footer_container_social input[type="submit"] {
		font-size: 7px;
		padding-top: 8px;
    	padding-bottom: 8px;
    	padding-left: 10px;
    	padding-right: 10px;
    	margin-left: -75px;
	}

	.social-btn img {
		width: 35px;
		margin-right:9px;
	}

	.footer_container_copyright {
		display: inline-flex; 
	}

	.footer_container_copyright p {
		margin-top: 10px;
    	margin-left: 10px;
	}

	.footer_container_copyright {
    	margin-top: 50px;
    	align-items: flex-end;
	}

	.footer_container_social input::-webkit-input-placeholder {
		color: #b3aaaa;
		font-size: 10px;
		font-weight: normal;
		line-height: 14px;
	} 

	.footer_container_social {
    	flex: 3;
	}

}
/* Landscape phones and portrait tablets */
@media (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 90%;
	}

	.header {
		background-position: 36% 0px;
    	padding-bottom: 60px;
	}

	.header_container_navigation {
		flex: 4;
	}

	.header_container_navigation li {
		margin-left: 10px;
	}

	.header_container_navigation a {
		font-size: 9px;
	}

	.header h1 {
		margin-top: 50px;
		font-size: 35px;
	}

	.news_container {
		padding-top: 25px;
    	padding-bottom: 25px;
	}

	.latest-news {
		font-size: 11px;
		white-space: nowrap;
	}

	.news_container p {
		font-size: 12px;
	}

	.track {
		padding-top: 60px;
		padding-bottom: 160px;
	}

	.track_container_group-first, .track_container_group-second {
		margin-top: 60px;
	}

	.testimonials {
		padding-top: 200px
	}

	.testimonials_video {
		margin-top: -350px;
	}

	.card {
		padding-left: 10px;
		padding-right: 10px;
	}

	.card:nth-child(2) {
    	margin-left: 10px;
    	margin-right: 10px;
	} 

	.track-groups_all {
		padding-right: 0px;
	}

	.media-collum {
		flex-direction: column;
	}

	.media-collum-footer {
		display: flex;
    	flex-wrap: wrap;
	}

	.track_container_group-second {
		margin-top: 0px;
	}

	.testimonials_container {
    	margin-top: 30px;
	}

	.container_why-should h2 {
		color: #343141;
    	font-size: 40px;
    	font-weight: 300;
    	margin: 0 auto;
    	line-height: 44px;
    	text-align: center;
	}

	.container_why-should_group {
    	margin-top: 50px;
	}

	.container_why-should_group:first-child, .container_why-should_group:last-child {
    	margin-top: 50px;
	}

	.container_why-should {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.footer_container_key-features {
		flex:2;
	}

	.footer_container_support {
    	flex: 2;
	}

	.footer_container_news {
    	flex: 3;
	}

	.footer_container_developers {
    	flex: 1;
	}

	.footer_container_copyright {
    	margin-top: 50px;
	}

	.footer {
		padding-top: 60px;
		padding-bottom: 60px;
	}

}

/* Landscape phones and smaller */
@media (min-width: 320px) and (max-width: 480px) {
	.container {
		width: 320px;
	}

	.header {
		padding-bottom: 60px;
		background-image:none;
		background-color: #FD5766;
	}

	.header h1 {
		font-size: 30px;
		line-height: 45px;
		text-align: center;
    	margin: 50px auto;
	}

	.header_container_logo_p p {
		font-size: 30px;
	}

	.header_container_navigation-phone {
		display: none;
    	text-align: center;
    	background-color: #FD5766;
    	width: 100%;
    	padding-top: 60px;
    	padding-bottom: 60px;
	}

	.header_container_navigation-phone a {
		text-decoration: none;
		color: #ffffff;
		font-size: 25px;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 50px;
		padding: 3px 17px;
	}

	.header_container-buttons {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	.download-app-link {
		padding-top: 15px;
		padding-bottom: 15px;
		margin: 0 auto;
	}

	.header_container_navigation {
		display: none;
	}

	.wrapper-menu {
		display: block;
  		width: 50px;
  		height: 50px;
  		display: flex;
  		flex-direction: column;
  		justify-content: space-between;
  		cursor: pointer;
  		transition: transform 330ms ease-out;
	}

	.wrapper-menu.open {
	  transform: rotate(-45deg);  
	}

	.line-menu {
	  background-color: #fff;
	  border-radius: 5px;
	  width: 100%;
	  height: 6px;
	}

	.line-menu.half {
	  width: 50%;
	}
	.line-menu.start {
	  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
	  transform-origin: right;
	}

	.open .line-menu.start {
	  transform: rotate(-90deg) translateX(3px);
	}

	.line-menu.end {
	  align-self: flex-end;
	  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
	  transform-origin: left;
	}

	.open .line-menu.end {
	  transform: rotate(-90deg) translateX(-3px);
	}

	.news_container {
		display: block;
	}

	.latest-news {
		padding: 8px 15px;
	}

	.news_container p {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 0px;
		margin-right:0px;
	}

	.track_container_group-first {
		margin-top: 60px;
	}

	.cards {
		margin-top: 60px;
	}

	.track {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.track h2 {
		font-size: 25px;
	}

	.media-collum {
		flex-direction: column;
	}

	.track_container_group-second {
    	margin-top: 0px;
	}

	.track-groups_all {
    	padding-right: 0px;
	}

	.track-groups_info {
		margin-left: 10px;
	}

	.testimonials {
		padding-top: 60px;
	}

	.testimonials_video {
		margin-top: 0px;
	}

	.testimonials h2 {
		margin-top: 60px;
	}
	.testimonials_p {
		margin-top: 0px;
	}

	.cards {
		flex-direction: column;
	}

	.card {
		padding-left: 30px;
		padding-right: 30px;
	}

	.card:nth-child(2) {
    	margin-left: 0px;
    	margin-right: 0px;
    	margin-top: 50px;
    	margin-bottom: 50px;
	}

	.testimonials_container {
		margin-top: 50px;
	}

	.container_why-should h2 {
		color: #343141;
    	font-size: 40px;
    	font-weight: 300;
    	margin: 0 auto;
    	line-height: 44px;
    	text-align: center;
	}

	.container_why-should_group:first-child, .container_why-should_group:last-child {
    	margin-top: 60px;
	}

	.container_why-should_group {
		margin-top: 60px;
	}

	.container_why-should {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.footer {
		padding-top: 60px;
		padding-bottom: 0px;
	}

	.media-collum-footer {
		flex-direction: column;
	}

	.footer_container_key-features,.footer_container_support,
	.footer_container_news,.footer_container_developers,
	.footer_container_social {
    	flex: 1;
    	text-align: center;
	}

	.footer_container_social input[type="text"] {
		width: auto;
	}

	.footer_container_social input[type="submit"] {
		margin-left: 0px;
		font-size: 14px;
	}

	.footer_container_copyright{
		margin: 60px auto;
	}

}